extends layout

block content
  img.poster(src="/nangrang_main_1.png" width="100%" height=auto)
  a.btn.btn-raised(href='#detail_view', role='button', style='font-family:배달의민족 도현') 서비스 상세보기 »
  br
  br
  //h1  기능
  //p.lead A boilerplate for Node.js web applications.
  hr
  br
  h1.span(style='font-family:배달의민족 도현')
      strong 낭랑의 기능 소개
  br  
  br
  br
  .row
    
    .col-md-6
      div(style= "text-align:center")
        img(src="/search.png" width="30%" height=auto style= "text-align:center")
      br
      h2.text-center.span(style='font-family:배달의민족 도현') 검수과정 간소화 
      br
      p Aibril 기술인 stt 활용과 텍스트 비교 알고리즘을 이용해 기존의 검수과정을 30% 줄일 수 있습니다.
      p
    .col-md-6
      div(style= "text-align:center")
        img.poster(src="/reading.png" width="30%" height=auto)
      br
      h2.text-center.span(style='font-family:배달의민족 도현') 사용자의 취향 책 추천
      br
      p 추천 알고리즘을 통해 사용자에게 맞는 책을 추천해주며 낭독하는 과정에서 흥미를 유발 할 수 있도록 해줍니다.
      p
  hr
  br
  div(id="detail_view")
    br
    br
    br
    br
    h1.span(style='font-family:배달의민족 도현')
      strong 상세한 설명
      img.poster(src="/nangrang_main_2.png" width="100%" height=auto)
      img.poster(src="/nangrang_main_3.png" width="100%" height=auto)
      img.poster(src="/nangrang_main_4.png" width="100%" height=auto)
    
